.task
  display: flex
  justify-content: space-between
  align-items: center
  gap: 10px
  margin: 10px 0
  padding: 10px
  border-radius: 5px
  transition: background-color 0.3s
  width: 100%
  &:hover
    background-color: #047014
  input[type="checkbox"]
    margin-right: 10px
  button
    display: flex  
.subtasks
  margin-left: 20px
  padding-left: 10px
  border-left: 2px solid #ccc
.edit-delete-buttons
  display: flex
  justify-content: space-between
  width: 100% 
@media (max-width: 768px)
  .task
    flex-direction: column
    align-items: flex-start
  .subtasks
    margin-left: 0
    padding-left: 0
    border-left: none
