.taskInput
  display: flex
  justify-content: center // Центрируем элементы
  gap: 10px
  margin-top: 20px
  width: 100% // Занимает всю ширину

  input
    flex: 1
    padding: 10px
    border: 1px solid #ccc
    border-radius: 5px
    outline: none
    transition: border-color 0.3s

    &:focus
      border-color: #007bff

@media (max-width: 768px)
  .taskInput
    flex-direction: column

    input
      width: 100%
