// src/modules/TaskModule/styles/TaskList.module.sass
.taskSection
  display: flex
  flex-direction: column
  margin-top: 20px

h2
  margin: 10px 0
  font-size: 1.5em
  color: #333

// Адаптивные стили
@media (max-width: 768px) // Планшеты
  h2
    font-size: 1.2em
