.task
  display: flex
  justify-content: space-between
  align-items: center
  margin: 10px 0
  padding: 20px
  border-radius: 20px
  transition: background-color 0.3s
  width: 100%
  background-color: #9db0c5
  gap: 10%
  &:hover
    background-color: #047014
  input[type="checkbox"]
    margin-right: 10px
  span
    cursor: pointer
  .btn
    display: flex
    flex-direction: column
    gap: 10px
    button
      padding: 8px 8px
      border-radius: 10px
      border: none
      cursor: pointer
      font-size: 1.2em
.completed
  text-decoration: line-through
.deleteButton
  background-color: red
.editButton
  background-color: green
.addSubtaskButton
  background-color: blue
.subtasks
  margin-left: 50px
  padding-left: 10px
  border-left: 2px solid #ccc