@mixin light-theme
    background-color: #eaeaea
    text-color: #000000
@mixin dark-theme 
    background-color: #5d5d5d
    color: #fff
@mixin system-theme 
    background-color: #d9d9d9
    color: #fff