@import ../components/Task/_Task
@import ../components/TaskInput/_TaskInpun
@import ./_mixin

body
    margin: 0 auto
    background-color: #d8d8d8
    scroll-behavior: smooth
    box-sizing: border-box
.container
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 100px
    .App
        max-height: 500px
        overflow-y: auto
        margin-top: 100px
        padding: 20px 20px
        display: flex
        flex-direction: column
        align-content: center
        align-items: center
        gap: 20px
        border-radius: 10px
        box-shadow: 0px 4px 21px 5px #515151
        &::-webkit-scrollbar
            width: 4px
            height: 20px
            scrollbar-gutter: stable
        &::-webkit-scrollbar-thumb
            background-color: #343434
            border-radius: 10px
            width: 20px
            background-clip: padding-box
        &::-webkit-scrollbar-track
            background-color: #ADB6BF66
            margin: 40px
        .top
            background-color: #a6a6a6
            border-radius: 20px
            padding: 30px 30px
            color: #ededed

.light-theme
    @include light-theme
.dark-theme
    @include dark-theme
.system-theme
    @include system-theme