.themeToggle
    display: flex
    gap: 10px
    align-items: center
    margin: 10px 0
    button
        padding: 8px 8px
        border: none
        border-radius: 20px
        cursor: pointer
        transition: transform .5s ease
        &:hover
            transform: scale(1.1)
        &:first-child
            background-color: white
        &:nth-child(2)
            background-color: black
        &:nth-child(3)
            background-color: green
@media (max-width: 768px)
    .themeToggle
        flex-direction: column
        align-items: flex-start
        button
            width: 100%
            text-align: left